@page "/admin/manages/manage-amenities"
@using System.Text.Json

@layout AdminLayout
@inject IHttpClientFactory _httpClientFactory
@inject ISnackbar Snackbar

<div class="container-fluid p-4">
    <h2 class="text-primary mb-4">Manage Amenities</h2>

    <div class="row">
        <!-- Form thêm/sửa bên trái -->
        @* <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">
                        @(SelectedAmenity.Id == 0 ? "Add New Amenity" : "Edit Amenity")
                    </h5>
                </div>
                <div class="card-body">
                    <EditForm Model="@SelectedAmenity" OnValidSubmit="SaveOrUpdateAmenity">
                        <DataAnnotationsValidator />
                        @* <ValidationSummary /> *@

        @* <div class="mb-3">
                            <label class="form-label">Name</label>
                            <InputText class="form-control" @bind-Value="SelectedAmenity.Name" />
                            <ValidationMessage For="@(() => SelectedAmenity.Name)" class="text-danger"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Icon CSS (FontAwesome class)</label>
                            <input type="text" class="form-control" @bind-Value="SelectedAmenity.IconClass" @bind-Value:event="oninput"
                               placeholder="fa fa-wifi" />
                            <ValidationMessage For="@(() => SelectedAmenity.IconClass)" class="text-danger"/>
                            @if (!string.IsNullOrWhiteSpace(SelectedAmenity.IconClass))
                            {
                                <div class="mt-2">
                                    Preview: <i class="@SelectedAmenity.IconClass fa-2x text-primary"></i>
                                </div>
                            }
                        </div>

                        <div class="d-flex">
                            <button type="submit" class="btn btn-success me-2 w-50">
                                @(SelectedAmenity.Id == 0 ? "SAVE" : "UPDATE")
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>  *@
        <AmenityCreateOrUpdateCard AmenityParam="@SelectedAmenity" OnSaveUpdate="@SaveOrUpdateAmenity" />

        <!-- Bảng danh sách bên phải -->
        <ListAmenitiesCard AmenitiesList="@Amenities" OnEdit="@EditAmenity" OnDelete="@DeleteAmenity" />

    </div>
</div>

@code {
    private List<AmenityVM> Amenities = new List<AmenityVM>();
    private AmenityVM SelectedAmenity = new AmenityVM();
    HttpClient? _httpClient;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = _httpClientFactory.CreateClient("HotelBookingAPI");
        await GetAllAmenities();

    }

    private async Task GetAllAmenities()
    {

        // TODO: gọi API GET /hotel/amenities
        var apiResponse = await _httpClient.GetFromJsonAsync<ApiResponse<List<AmenityVM>>>("hotel/get-all-amenities");

        if (apiResponse != null && apiResponse.StatusCode == StatusCodeResponse.Success && apiResponse.Content != null)
        {
            Amenities = apiResponse.Content;
        }
        else
        {
            Amenities = new List<AmenityVM>();
            SnackbarHelper.Show(Snackbar, apiResponse.StatusCode, apiResponse.Message);
        }
    }

    private void EditAmenity(AmenityVM amenity)
    {
        SelectedAmenity = new AmenityVM
        {
            Id = amenity.Id,
            Name = amenity.Name,
            Description = amenity.Description,
            IconClass = amenity.IconClass,
        };
    }

    private async Task SaveOrUpdateAmenity(AmenityVM amenity)
    {
        if (amenity.Id == 0)
        {
            // TODO: gọi API POST tạo mới
            var response = await _httpClient.PostAsJsonAsync("hotel/create-amenity", amenity);

            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<AmenityVM>>();

            SnackbarHelper.Show(Snackbar, apiResponse.StatusCode, apiResponse.Message);

        }
        else
        {
            // TODO: gọi API PUT cập nhật
            var response = await _httpClient.PutAsJsonAsync($"hotel/update-amenity/{amenity.Id}", amenity);

            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<AmenityVM>>();

            SnackbarHelper.Show(Snackbar, apiResponse?.StatusCode ?? "Error", apiResponse?.Message);

        }
        await GetAllAmenities();
        SelectedAmenity = new AmenityVM(); // reset form
    }

    private async Task DeleteAmenity(int id)
    {
        // TODO: gọi API DELETE /hotel/amenities/{id}
        var response = await _httpClient.DeleteAsync($"hotel/delete-amenity/{id}");

        var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<string>>();
        SnackbarHelper.Show(Snackbar, apiResponse?.StatusCode ?? "Error", apiResponse?.Message);

        await GetAllAmenities();

        // Reset form về Add New
        SelectedAmenity = new AmenityVM();
    }
}