@page "/admin/manages/manage-amenities"
@using System.Text.Json

@namespace HotelBooking.webapp.Pages.Admin.Manage
@using HotelBooking.WebApp.Components.Manage.Amenity

@layout AdminLayout
@inject IHttpClientFactory _httpClientFactory
@inject ISnackbar Snackbar

<div class="container-fluid p-4">
    <h2 class="text-primary mb-4">Manage Amenities</h2>

    <div class="row">
        <!-- Form thêm/sửa bên trái -->
        <AmenityCreateOrUpdateCard AmenityParam="@SelectedAmenity" OnSaveUpdate="@SaveOrUpdateAmenity" />

        <!-- Bảng danh sách bên phải -->
        <ListAmenitiesCard AmenitiesList="@Amenities" EventOnEdit="@EditAmenity" EventOnDelete="@DeleteAmenity" />

    </div>
</div>

@code {
    private List<AmenityVM> Amenities = new List<AmenityVM>();
    private AmenityVM SelectedAmenity = new AmenityVM();
    HttpClient? _httpClient;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = _httpClientFactory.CreateClient("HotelBookingAPI");
        await GetAllAmenities();

    }

    private async Task GetAllAmenities()
    {

        // TODO: gọi API GET /hotel/amenities
        var apiResponse = await _httpClient.GetFromJsonAsync<ApiResponse<List<AmenityVM>>>("hotel/get-all-amenities");

        if (apiResponse != null && apiResponse.StatusCode == StatusCodeResponse.Success && apiResponse.Content != null)
        {
            Amenities = apiResponse.Content;

        }
        else
        {
            Amenities = new List<AmenityVM>();
            SnackbarHelper.Show(Snackbar, apiResponse.StatusCode, apiResponse.Message);
        }
    }

    private async Task EditAmenity(AmenityVM amenity)
    {
        var findAmenity = Amenities.Find(amenityInList => amenityInList.Id == amenity.Id);

        if (findAmenity != null)
        {
            // Tạo bản sao để hiển thị lên form (tránh sửa trực tiếp list)
            SelectedAmenity = new AmenityVM
            {
                Id = findAmenity.Id,
                Name = findAmenity.Name,
                Description = findAmenity.Description,
                IconClass = findAmenity.IconClass
            };
        }

    }


    private async Task SaveOrUpdateAmenity()
    {
        if (SelectedAmenity == null)
        {
            return;
        }

        if (SelectedAmenity.Id == 0)
        {
            // TODO: gọi API POST tạo mới
            var response = await _httpClient.PostAsJsonAsync("hotel/create-amenity", SelectedAmenity);

            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<AmenityVM>>();

            SnackbarHelper.Show(Snackbar, apiResponse.StatusCode, apiResponse.Message);

        }
        else
        {
            // TODO: gọi API PUT cập nhật
            var response = await _httpClient.PutAsJsonAsync($"hotel/update-amenity/{SelectedAmenity.Id}", SelectedAmenity);

            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<AmenityVM>>();

            SnackbarHelper.Show(Snackbar, apiResponse?.StatusCode ?? "Error", apiResponse?.Message);

        }
        await GetAllAmenities();
        SelectedAmenity = new AmenityVM(); // reset form
    }

    private async Task DeleteAmenity(int id)
    {
        // TODO: gọi API DELETE /hotel/amenities/{id}
        var response = await _httpClient.DeleteAsync($"hotel/delete-amenity/{id}");

        if (response.IsSuccessStatusCode)
        {
            // xóa khỏi list hiện tại
            Amenities.RemoveAll(a => a.Id == id);

            // ép re-render
            StateHasChanged();
        }

        // var content = await response.Content.ReadAsStringAsync();

        // Console.WriteLine($"Delete API Response: {response.StatusCode} - {content}");

        // Vì content trả về là true, là bool


        var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponse<bool>>();
        SnackbarHelper.Show(Snackbar, apiResponse?.StatusCode ?? "Error", apiResponse?.Message);

        // Reset form về Add New
        SelectedAmenity = new AmenityVM();


    }
}